p a{
    text-decoration: none;
    color: black;
    
}
p a:hover{
    color: black;
    font-weight: bold
}
.leftside{
    align-items: center;
    text-align: center;
}
h3{
    color: rgb(91, 91, 8);
}